<app-navbar></app-navbar>

<div class="card">
    <div class="card-body">

        <span class="table-add float-right mb-3 mr-2">
            <a class="text-success" (click)="getAddOrder()" data-target="#createOrder" data-toggle="modal"
                style="cursor: pointer;">
                <i class="fas fa-plus fa-2x" aria-hidden="true" data-toggle="tooltip" title="Add Order">
                </i>
            </a>
        </span>
        <div id="table" class="table-editable">

            <table class="table table-bordered table-responsive-md table-striped text-center table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Order Number</th>
                        <th class="text-center">Customer name</th>
                        <th class="text-center">Due Date</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Total value</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </thead>

                <tbody class="text-center tableBody">

                    <tr *ngFor="let item of orderList">
                        <td>{{item.ordernumber}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.dueDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <span class="table-remove"><button type="button"
                                    class="btn btn-primary btn-rounded btn-sm my-0" type="button" data-toggle="modal"
                                    data-target="#editOrder" (click)="getEditOrder(item)"> <i class="fas fa-edit"
                                        data-toggle="tooltip" title="Edit Order"></i>
                                </button></span>
                        </td>
                        <td>
                            <span class="table-remove">

                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0" data-toggle="modal"
                                    data-target="#removeOrder" (click)="getRemoveOrder(item)">
                                    <i class="far fa-trash-alt" data-toggle="tooltip" title="Remove Order"></i>

                                </button>
                            </span>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
    <div *ngIf="loading; else elseTemplate" align="center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </div>
    <ng-template #elseTemplate>
        <div *ngIf="orderList.length==0" align="center" style="font-weight: bold;color: red;">No Orders Found</div>
    </ng-template>
    <!-- 
    <div *ngIfElse="loading" align="center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->

</div>

<div class="modal fade" id="removeOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove <span style="font-weight: bolder;"
                    *ngIf="removeOrderData">{{removeOrderData.value.name}}</span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn-danger" (click)="removeOrder()">Remove Order</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <form [formGroup]="editOrderData" (ngSubmit)="editOrder()" *ngIf="editOrderData">


        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Customer Name * :</label>
                        <input type="text"
                            [ngClass]="(editOrderData.controls.name.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="name" placeholder="Enter Customer Name" formControlName="name">
                        <span *ngIf="!editOrderData.controls.name.valid && editOrderData.controls.name.touched"
                            style="color: red;"> * Please enter Customer name</span>
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due Date * :</label>
                        <input type="date"
                            [ngClass]="(editOrderData.controls.dueDate.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="dueDate" formControlName="dueDate"
                            value="{{ editOrderData.value.dueDate | date:'yyyy-MM-dd' }}">
                        <span *ngIf="!editOrderData.controls.dueDate.valid && editOrderData.controls.dueDate.touched "
                            style="color: red;"> * Please enter Valid date</span>
                    </div>
                    <div class="form-group">
                        <label for="address">Address * :</label>
                        <input type="text"
                            [ngClass]="(editOrderData.controls.address.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="address" formControlName="address"
                            placeholder="Enter Customer Address">
                        <span *ngIf="!editOrderData.controls.address.valid && editOrderData.controls.address.touched "
                            style="color: red;"> * Please enter Address</span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone * :</label>
                        <input type="number" pattern="[6789][0-9]{9}"
                            [ngClass]="(editOrderData.controls.phone.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="phone" formControlName="phone" placeholder="Enter Phone no.">
                        <span *ngIf="!editOrderData.controls.phone.valid && editOrderData.controls.phone.touched "
                            style="color: red;"> * Please enter Valid mobile number</span>
                    </div>

                    <div class="form-group">
                        <label for="total">Total Value * :</label>
                        <input type="number"
                            [ngClass]="(editOrderData.controls.total.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="total" formControlName="total" placeholder="Enter Total Value">
                        <span *ngIf="!editOrderData.controls.total.valid && editOrderData.controls.total.touched "
                            style="color: red;"> * Please enter Valid total value</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [ngClass]="{
                        'btn-success': editOrderData.valid,
                        'btn-secondary': editOrderData.invalid
                      }">Edit Order</button>
                </div>
            </div>
        </div>
        <!-- 
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Customer Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Customer Name"
                            formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due Date:</label>
                        <input type="date" class="form-control" id="dueDate" formControlName="dueDate"
                            value="{{ editOrderData.value.dueDate | date:'yyyy-MM-dd' }}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" formControlName="address"
                            placeholder="Enter Customer Address">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" class="form-control" id="phone" formControlName="phone"
                            placeholder="Enter Phone no.">
                    </div>

                    <div class="form-group">
                        <label for="total">Total Value:</label>
                        <input type="number" class="form-control" id="total" formControlName="total"
                            placeholder="Enter Total Value">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div> -->
    </form>

</div>


<div class="modal fade" id="createOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <form [formGroup]="newOrderData" *ngIf="newOrderData">

        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Create Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Customer Name * :</label>
                        <div>
                            <input type="text"
                                [ngClass]="(newOrderData.controls.name.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                                autocomplete="off" id="name" placeholder="Enter Customer Name" formControlName="name">
                        </div>
                        <span *ngIf="!newOrderData.controls.name.valid && newOrderData.controls.name.touched"
                            style="color: red;"> * Please enter Customer name</span>
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due Date * :</label>
                        <input type="date"
                            [ngClass]="(newOrderData.controls.dueDate.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="dueDate" formControlName="dueDate">
                        <span *ngIf="!newOrderData.controls.dueDate.valid && newOrderData.controls.dueDate.touched "
                            style="color: red;"> * Please enter Valid date</span>
                    </div>
                    <div class="form-group">
                        <label for="address">Address * :</label>
                        <input type="text"
                            [ngClass]="(newOrderData.controls.address.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="address" formControlName="address"
                            placeholder="Enter Customer Address">
                        <span *ngIf="!newOrderData.controls.address.valid && newOrderData.controls.address.touched "
                            style="color: red;"> * Please enter Address</span>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone * :</label>
                        <input type="number" pattern="[6789][0-9]{9}"
                            [ngClass]="(newOrderData.controls.phone.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="phone" formControlName="phone" placeholder="Enter Phone no.">
                        <span *ngIf="!newOrderData.controls.phone.valid && newOrderData.controls.phone.touched "
                            style="color: red;"> * Please enter Valid mobile number</span>
                    </div>

                    <div class="form-group">
                        <label for="total">Total Value * :</label>
                        <input type="number"
                            [ngClass]="(newOrderData.controls.total.valid)?'form-control is-valid':(submitttedFlag)?'form-control':'form-control is-invalid'"
                            autocomplete="off" id="total" formControlName="total" placeholder="Enter Total Value">
                        <span *ngIf="!newOrderData.controls.total.valid && newOrderData.controls.total.touched "
                            style="color: red;"> * Please enter Valid total value</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [ngClass]="{
                        'btn-success': newOrderData.valid,
                        'btn-secondary': newOrderData.invalid
                      }" (debounceClick)="createOrder()" appDoubleClick>Create Order</button>
                </div>
            </div>
        </div>
    </form>

</div>

<div id="snackbar">{{snackBarText}}</div>