<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #100cf5; font-weight: bold;">
                        Login
                    </h5>
                    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
                        <div class="form-label-group">
                            <input
                                [ngClass]="(loginForm.controls.username.valid)?'form-control is-valid':(submittedFlag)?'form-control':'form-control is-invalid'"
                                type="text" formControlName="username" id="username" placeholder="Username">
                            <label for="username">Username</label>
                            <div *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched ">
                                <small class="text-danger ml-4"> * Username is Required</small>
                            </div>
                        </div>

                        <div class="form-label-group">
                            <input [ngClass]="(loginForm.controls.password.valid)?'form-control is-valid':(submittedFlag)?'form-control':'form-control is-invalid'" type="password" id="password" formControlName="password"
                                placeholder="Password">
                            <label for="password">Password</label>
                            <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched ">
                                <small class="text-danger ml-4"> * Password is Required</small>
                            </div>
                        </div>
                        <!-- <div class="form-label-group" style="padding-left: 10px;">
                            <input type="checkbox" formControlName="remember"> Remember me
                        </div> -->
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="remember">
                            <span class="custom-control-indicator"></span>Remember me
                        </label>


                        <div class="text-danger" style="text-align: center;padding: 5px;">{{errorText}}</div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="loginForm.invalid"
                            type="submit" [ngClass]="{
                  'btn-success': loginForm.valid,
                  'btn-secondary': loginForm.invalid
                }" [disabled]="loading">
                            Log in
                            <span [ngClass]="{
                    'spinner-border spinner-border-sm text-warning': loading
                  }"></span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <marquee width="100%" direction="left" height="100px">
        Please go through the documentation that has been attached with the mail before starting the project
    </marquee>
</div>