<nav class="navbar bg-dark">
    <div style="color: whitesmoke;font-weight: bold;">ORDER MANAGEMENT SYSTEM</div>
    <div align="end" style="color: whitesmoke;cursor: pointer;" (click)="logout()"><i class="fas fa-sign-out-alt"></i>

        Logout</div>
</nav>