<div style="padding-top: 10%;">
    <!-- <mat-divider style="background-color: black;">
    </mat-divider> -->
    <div align="center" style="font-size: 30px;">404
    <div style="color: gray;">
        Page Not Found 
    </div></div>
</div>